@{
    ViewData["Title"] = "Danh sách quyền";
}

<h1>@ViewData["Title"]</h1>

<a class="wwg medium text" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<br />

<div>
    <a class="ui basic button" asp-area="Admin" asp-controller="Role" asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp; Thêm quyền mới</a>
    <a class="ui basic button" asp-area="Admin" asp-controller="Role" asp-action="Assign">Phân quyền</a>
    <a class="ui basic button" asp-area="Admin" asp-controller="Role" asp-action="AssignUserRole">Người dùng và quyền</a>
</div>

<br />

<div>
    <table class="ui celled table">
        <tr class="table-info">
            <th>Id</th>
            <th>Tên</th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Roles)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td class="right aligned collapsing">
                    <div class="ui buttons">
                        <a asp-action="Edit" class="ui inverted primary button" asp-route-id="@item.Id">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a asp-action="Delete" class="ui inverted red button" asp-route-id="@item.Id">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var message = '@TempData["message"]';
            var remove = '@TempData["remove"]';
            if (message != '') {
                alertify.success(message);
            }
            if (remove != '') {
                alertify.error(remove);
            }
        })
    </script>
}

