@using OnlineShop.Models;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Danh sách người dùng";
}


<h1>@ViewData["Title"]</h1>

<a class="wwg medium text" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<br />

<div>
    <table class="ui celled table">
    <tr class="table-info">
      <th>Id</th>
      <th>Email</th>
      <th>Họ Tên</th>
      <th>SĐT</th>
      <th>2FA</th>
      <th>Trạng thái</th>
      <th></th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
              <td>@item.Id</td>
              <td>@item.Email</td>
              <td>@item.FirstName @item.LastName</td>
              <td>@item.PhoneNumber</td>
              <td>@item.TwoFactorEnabled</td>
                @if (item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
                {
                    <td>Khóa</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a asp-action="Active" class="ui inverted primary button" asp-route-id="@item.Id">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a asp-action="Delete" class="ui inverted red button" asp-route-id="@item.Id">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                }
                else
                {
                    <td>Hoạt động</td>
                    <td class="text-right">
                        <partial name="_PartialView" model="@item.Id" />
                    </td>
                }
            </tr>
        }
    </table>
</div>

@section scripts {
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <script type="text/javascript">
    $(function() {
        var message = '@TempData["message"]';
        var remove = '@TempData["remove"]';
        if (message != '') {
          alertify.success(message);
        }
        if (remove != '') {
          alertify.error(remove);
        }
    })
  </script>
}

