@using OnlineShop.Models;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Danh sách người dùng";
}


<h1>@ViewData["Title"]</h1>

<div>
  <table class="table table-striped border">
    <tr class="table-info">
      <th>
        Tên
      </th>
      <th>
        Tên người dùng
      </th>
      <th>
        Trạng thái
      </th>
      <th></th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
              <td>@item.FirstName @item.LastName</td>
              <td>@item.UserName</td>
                @if (item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
                {
                    <td>Không hoạt động</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a asp-action="Active" class="btn btn-primary" asp-route-id="@item.Id">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                }
                else
                {
                    <td>Hoạt động</td>
                    <td class="text-right">
                        <partial name="_PartialView" model="@item.Id" />
                    </td>
                }
            </tr>
        }
    </table>
</div>

@section scripts {
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <script type="text/javascript">
    $(function() {
        var message = '@TempData["message"]';
        var remove = '@TempData["remove"]';
        if (message != '') {
          alertify.success(message);
        }
        if (remove != '') {
          alertify.error(remove);
        }
    })
  </script>
}

