@using OnlineShop.Models;
@model IEnumerable<SpecialTag>
@{
    ViewData["Title"] = "Danh sách NSX";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách NSX</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="ui inverted primary button"><i class="fas fa-plus"></i>&nbsp; Thêm NSX mới</a>
    </div>
</div>

<br />

<a class="wwg medium text" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<br />
<div>
    <table class="ui celled table">
        <tr class="table-info">
            <th>Id</th>
            <th>Nhà sản xuất</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td class="right aligned collapsing">
                    <partial name="_TagPageButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var message = '@TempData["message"]';
            var remove = '@TempData["remove"]';
            if (message != '') {
                alertify.success(message);
            }
            if (remove != '') {
                alertify.error(remove);
            }
        })
    </script>
}

