@using OnlineShop.Models;
@model List<Products>
@{
    ViewData["Title"] = "Giỏ hàng";
}

<h1>Giỏ hàng của bạn</h1>

<br />

<p>
    ⚠️ Hãy đảm bảo rằng bạn đã đọc kỹ và đồng ý với <a asp-area="Customer" asp-controller="Home" asp-action="Privacy" asp-fragment="wwg-chính-sách-mua-hàng">Chính sách mua hàng</a> của chúng tôi trước khi tiến hành thanh toán.
</p>

<div class="ui grid">
    <div class="four column row">
        <div class="left floated column">
            <div class="ui segment">
                <a asp-action="Index" asp-controller="Home"><i class="icon arrow left"></i> Tiếp tục mua sắm</a>
            </div>
        </div>
        <div class="right floated column">
            <div class="ui segment">
                <h3>Tổng cộng: $@Model.Sum(c => c.Price).ToString("#")</h3>
                <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="ui large primary button">Tiến hành thanh toán</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Hình ảnh</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Loại</th>
        <th>Màu</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                  <td>
                    <img src="@item.Image" style="height: 150px" />
                  </td>
                  <td>@item.Name</td>
                  <td>$@item.Price.ToString("#")</td>
                  <td>@item.ProductTypes.ProductType</td>
                  <td>@item.ProductColor</td>
                  <td>
                    <a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">
                      <i class="fa-regular fa-trash-can"></i>
                    </a>
                  </td>
                </tr>
            }
        </tbody>
  </table>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var message = '@TempData["message"]';
            var remove = '@TempData["remove"]';
            if (message != '') {
                alertify.success(message);
            }
            if (remove != '') {
                alertify.error(remove);
            }
        })
    </script>
}

