@using OnlineShop.Models;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<Products>
@{
    ViewData["Title"] = "Trang chủ";
}
<br /><br />
<div class="ui four column doubling grid">
    @foreach (var product in Model.OrderByDescending(o => o.CreatedAt))
    {
        if (product.IsAvailable)
        {
            <div class="column">
                <div class="ui segment wwg-product">
                    <a class="wwg-imgbox" asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">
                        <img src="@product.Image">
                    </a>
                    <div class="wwg-details">
                        <h2>Tên sp<br /><span>@product.Name</span></h2>
                        <div class="wwg-price">$@product.Price.ToString("#")</div>
                        <label class="wwg-label">Loại/NSX</label>
                        <ul class="wwg-ul">
                            <li>@product.ProductTypes.ProductType</li>
                            <li>@product.SpecialTag.Name</li>
                        </ul>
                        <label class="wwg-label">Màu sắc</label>
                        <ul class="wwg-ul">
                            <li>@product.ProductColor</li>
                        </ul>
                        <a class="fluid ui primary button wwg-button" asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, s = ViewBag.Search }), new X.PagedList.Web.Common.PagedListRenderOptions
    {
        UlElementClasses = new string[] { "pagination d-flex justify-content-center" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
    })
</div>

